.todo-container{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.titleText{
    text-align: center;
    padding: 1em;
}
 
h2{
    text-align: center;
}

.completed-todo{
    text-decoration-line: line-through;
}

.todo{
    font-weight: bold;
    font-size: larger;
    padding: 1em;
    margin: 1em auto;
    width: 60%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.todo-text, .todo-del-btn, .todo-add-btn, .todo-add-window button{
    cursor: pointer;
}

.todo-del-btn{
    font-weight: bold;
    border-radius: 16px;
    padding-inline: 5px;
}

.todo-add-btn{
    position: absolute;
    right: 20px;
    bottom : 50px;
}

.todo-add-window{
   position: absolute;
   top: 200px;
   left:0;
   right:0;
   margin: 0 auto;
   padding: 1em;
   width: fit-content; 
   border-radius: 16px;
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.todo-add-window input{
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold; 
}

.btn{
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 1em;
    background-color: #c2410c;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.cancel-btn{
    color: #c2410c;
    background-color: lightgray;
}

.hide{
    display: none;
}