:root{
    --bg-color: #1D2228;
    --primary-color: #E1E2E2;
    --secondary-color: #FB8122;
}

.todo-container{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: var(--bg-color);
}

h1{
    text-align: center;
    padding: 1em;
    color: var(--secondary-color)
}
 
h2{
    text-align: center;
}

.completed-todo{
    text-decoration-line: line-through;
}

.todo{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: larger;
    padding: 1em;
    margin: 1em auto;
    width: 60%;

    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.todo-text, .todo-del-btn, .todo-add-btn, .todo-add-window button{
    cursor: pointer;
}

.todo-del-btn{
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 16px;
    padding-inline: 5px;
}

.todo-add-btn{
    position: absolute;
    right: 20px;
    bottom : 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    border-radius: 50%;
    font-weight: bolder;
    font-size: x-large;
}

.todo-add-window{
   position: relative;
   top: 0;
   padding: 1em;
   width: 50%; 
   margin: 0 auto;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.todo-add-window input{
    margin: 1em;
    width: 80%;
}

.todo-add-window button{
    width: 30%;
    margin-bottom: 0.5em;
}

.hide{
    display: none;
}