.videoContainer {
  background-color: #1f2937;
  padding: 0 0.5rem 0.5rem 0.5rem;
  width:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.dragBtn{
  background-color: #1f2937;
  color: #6b7280;
  cursor: move;
  border: none;
  width: 30%;
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.hide{
  display: None;
}
