body{
    margin:0;
    height: 100%;
    background-color: beige;
    font-family: monospace;
}

.nav{
    position: fixed;
    top:0;
    width: 100%;
    list-style-type: none;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.5em;
    font-weight: bold;
    font-size: large;
}

.content{
    display:block;
    margin-top: 50px;
}